{{ 'section-cta2.css' | asset_url | stylesheet_tag }}


<div class="cta2">
    <div class="cta2__container container">
        <div class="cta2__inner">
            {{ section.settings.image | image_url: width: 1500 | image_tag:
            width: section.settings.image.width,
            class: 'cta2__img',
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: section.settings.image.alt | escape }}
            <div class="cta2__content">
                <h2 class="cta2__title">{{ section.settings.title  }}</h2>
                <div class="text cta2__text">
                    {{section.settings.text}}
                </div>
            </div>

            <a href="{{section.settings.button_link}}" class="cta2__btn btn-light">{{section.settings.button_text}}</a>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "CTA 2",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "Text"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
    },
    {
    "type": "text",
    "id": "button_link",
    "label": "Button Link"
    },
    ],
    "presets": [
    {
    "name": "CTA 2",
    "settings": {
      
    }
    }
    ],
    }
    {% endschema %}