{{ 'section-cta3.css' | asset_url | stylesheet_tag }}

<div class="cta3">
    <div class="cta3__container container">
        <div class="cta3__inner">
            <div class="cta3__content">
                <h2 class="cta3__title">{{ section.settings.title  }}</h2>
                <div class="text cta3__text">
                    {{section.settings.text}}
                </div>
            </div>

            <form action="/contact" method="post" accept-charset="UTF-8" class="custom-form" enctype="multipart/form-data">
            <input type="hidden" name="form_type" value="contact">
            <input type="hidden" name="utf8" value="✓">
        
            <!-- Email Field -->
             <div class="form-rows">
                 <div class="form-row">
                     <label for="contact-email">Email</label>
                     <input placeholder="Email" type="email" id="contact-email" name="contact[email]" required>
                 </div>
                 <button type="submit">{{ section.settings.btn_text }}</button>
                 </div>

                 <div class="form-checkbox">         
                     <input type="checkbox" id="contact-checkbox" name="contact[agreement]" required>
                     <label for="contact-checkbox">
                        {{ section.settings.agreement_text }}
                     </label>
                 </div>
        
            <!-- Submit Button -->
            {% if form.posted_successfully? %}
                <p>Thank you for your message! We'll get back to you soon.</p>
              {% endif %}
          </form>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "CTA 3",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "Text"
    },
    {
    "type": "text",
    "id": "btn_text",
    "label": "Button text`"
    },
    {
    "type": "richtext",
    "id": "agreement_text",
    "label": "Agreement text"
    },
    ],
    "presets": [
        {
        "name": "CTA 3",
            "settings": {
            
            }
        }
    ],
    }
    {% endschema %}