{{ 'section-guide.css' | asset_url | stylesheet_tag }}

<section class="our-guide">
    <div class="container">
        <h2 class="our-guide__title">
            {{section.settings.title}}
        </h2>
        <ul class="our-guide__list">
            {% for block in section.blocks %}  
                {% case block.type %}
              
                  {% when 'item' %}  
                    <li class="our-guide__item" {{ block.shopify_attributes }}>
                        <div class="our-guide__item-img">
                            {{ block.settings.image | image_url: width: 1500 | image_tag:
                            width: block.settings.image.width,
                            alt: block.settings.image.alt | escape }} 
                        </div>
                        <h3 class="our-guide__item-title">{{ block.settings.title }}</h3>
                        <div class="our-guide__item-text text">
                            {{ block.settings.text }}
                        </div>
                    </li>
                {% endcase %} 
              {% endfor %}
        </ul>
    </div>
</section>

{% schema %}
    {
    "name": "Guide",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    ],
    "presets": [
    {
    "name": "Guide",
    }
    ],
    "blocks": [
            {
            "type": "item",
            "name": "List item",
            "settings": [
                {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
                },
                {
                "id": "title",
                "type": "text",
                "label": "Title"
                },
                {
                "id": "text",
                "type": "richtext",
                "label": "Text"
                }
            ]
            },
    ]
    }
    {% endschema %}