{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="hero">
  <img src="{{ section.settings.image.image_url }}" alt="hero" class="hero__img">
  <div class="hero__container container">
    <h2 class="hero__title">{{ section.settings.title }}</h2>
    <div class="text hero__text">
      {{section.settings.textw}}
    </div>
    <a href="{{section.settings.button_link}}" class="hero__btn btn-light">{{section.settings.button_text}}</a>
  </div>
</div>we

{% schema %}
{
"name": "Hero",
"tag": "section",
"class": "section",
"disabled_on": {
"groups": ["header", "footer"]
},
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "textw",
"label": "Text"
},
{
"type": "text",
"id": "button_text",
"label": "Button text"
},
{
"type": "text",
"id": "button_link",
"label": "Button Link"
},
],
"presets": [
{
"name": "Hero",
"settings": {
  
}
}
]
}
{% endschema %}