{{ 'section-inside.css' | asset_url | stylesheet_tag }}

<section class="inside">
    <div class="container container__inside">
        <h2 class="inside__title">
            {{ section.settings.title }}
        </h2>
        <div class="inside__text">
            {{ section.settings.text }}
        </div>
        <div class="inside__list">
            {% for block in section.blocks %}
                <ul class="inside__item">
                    {% for item in block.settings.items %}
                        <li>
                            {% if item.link %}
                                <a href="{{ item.link }}">{{ item.text }}</a>
                            {% else %}
                                <p>{{ item.text }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <a href="#" class="inside__btn btn-primary">Buy now</a>
    </div>
</section>


{% schema %}
    {
    "name": "Inside",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },

    {
    "type": "richtext",
    "id": "text",
    "label": "Text"
    },
    ],
    "presets": [
    {
    "name": "Inside",
    "settings": {
      
    }
    }
    ],
    "blocks": [
        {
            "type": "list",
            "name": "List Block",
            "settings": [
                {
                    "type": "list",
                    "id": "items",
                    "label": "List Items",
                    "default": [
                        {
                            "text": "Default Item 1",
                            "link": "#"
                        },
                        {
                            "text": "Default Item 2",
                            "link": ""
                        }
                    ],
                    "options": [
                        {
                            "id": "text",
                            "type": "text",
                            "label": "Item Text"
                        },
                        {
                            "id": "link",
                            "type": "url",
                            "label": "Item Link"
                        }
                    ]
                }
            ]
        }
    ],
    }
    {% endschema %}