{{ 'section-inspiration.css' | asset_url | stylesheet_tag }}

<div class="inspiration">
    <div class="container inspiration__container">
        <h2 class="inspiration__title">{{ section.settings.title }}</h2>
        <div class="inspiration__text text">
            {{ section.settings.text }}
        </div>

        <ul class="inspiration__list">
            {% for block in section.blocks %}  
                {% case block.type %}
              
                  {% when 'item' %}  
                    <li class="inspiration__item" {{ block.shopify_attributes }}>
                        {{ block.settings.image | image_url: width: 1500 | image_tag:
                        width: block.settings.image.width,
                        class: 'inspiration__item-img',
                        alt: block.settings.image.alt | escape }} 
                        <h3 class="inspiration__item-title">{{ block.settings.title }}</h3>
                        <div class="text inspiration__item-text">
                            {{ block.settings.text }}
                        </div>
                    </li>
                {% endcase %} 
            {% endfor %}
        </ul>
    </div>
</div>


{% schema %}
    {
    "name": "Real inspiration",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "Text"
    },
    ],
    "presets": [
    {
    "name": "Real inspiration",
    "settings": {
      
    }
    }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Item Title"
                },
                {
                    "id": "text",
                    "type": "richtext",
                    "label": "Item Text"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Item image"
                },
            ]
        },
    ],
    }
    {% endschema %}