{{ 'section-steps.css' | asset_url | stylesheet_tag }}

<div class="steps">
    <div class="container steps__container">
        <h2 class="steps__title">{{ section.settings.title }}</h2>
        <div class="steps__swiper swiper">
            <div class="swiper-wrapper">
            {% for block in section.blocks %}  
                {% case block.type %}
              
                  {% when 'item' %}  
                    <div class="steps__item swiper-slide" {{ block.shopify_attributes }}>
                        <div class="steps__item-content">
                            <h3 class="steps__item-title">{{ block.settings.title }}</h3>
                            <div class="steps__item-text">
                                {{ block.settings.text }}
                            </div>
                        </div>
                            {{ block.settings.image | image_url: width: 1500 | image_tag:
                            width: block.settings.image.width,
                            class: 'steps__item-img',
                            alt: block.settings.image.alt | escape }} 
                    </div>
                {% endcase %} 
            {% endfor %}

            </div>
            </div>
            <div class="steps__scrollbar"></div>
            <div class="steps__nav">
                <button class="steps__nav-btn prev">
                    <svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.15284 13.9999C5.91365 14.2313 5.55354 14.2001 5.34852 13.93L0.785151 7.9191C0.602051 7.67792 0.602051 7.32203 0.785151 7.08085L5.34852 1.06996C5.55355 0.799903 5.91365 0.768628 6.15285 1.0001C6.39204 1.23158 6.41974 1.63815 6.21472 1.90821L1.96954 7.49998L6.21472 13.0917C6.41974 13.3618 6.39204 13.7684 6.15284 13.9999Z" fill="#514B46"/>
                    </svg>
                </svg>
                        
                </button>
                <button class="steps__nav-btn next">
                    <svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.847156 1.00015C1.08635 0.768672 1.44646 0.799947 1.65148 1.07L6.21485 7.0809C6.39795 7.32208 6.39795 7.67797 6.21485 7.91915L1.65148 13.93C1.44646 14.2001 1.08635 14.2314 0.847156 13.9999C0.607963 13.7684 0.580263 13.3618 0.785285 13.0918L5.03046 7.50002L0.785285 1.90825C0.580263 1.6382 0.607963 1.23163 0.847156 1.00015Z" fill="#514B46"/>
                    </svg>
                </button>
            </div>
    </div>
</div>

{% schema %}
    {
    "name": "Steps",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    ],
    "blocks": [
        {
            "type": "item",
            "name": "List item",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Item title"
                },
                {
                    "id": "text",
                    "type": "richtext",
                    "label": "Item Text"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Item image"
                },
            ]
        },
    ],
    "presets": [
        {
            "name": "Steps",
        }
    ]
    }
    {% endschema %}