{{ 'section-steps.css' | asset_url | stylesheet_tag }}

<div class="steps">
    <div class="container steps__container">
        <h2 class="steps__title">{{ section.settings.title }}</h2>
        <div class="steps__swiper swiper">
            <div class="swiper-wrapper">
            {% for block in section.blocks %}  
                {% case block.type %}
              
                  {% when 'item' %}  
                    <div class="steps__item swiper-slide" {{ block.shopify_attributes }}>
                        <h3 class="steps__item-title">{{ block.settings.title }}</h3>
                        <div class="steps__item-text">
                            {{ block.settings.text }}
                        </div>
                            {{ block.settings.image | image_url: width: 1500 | image_tag:
                            width: block.settings.image.width,
                            class: 'steps__item-img',
                            alt: block.settings.image.alt | escape }} 
                    </div>
                {% endcase %} 
            {% endfor %}

            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Steps",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    ],
    "blocks": [
        {
            "type": "item",
            "name": "List item",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Item title"
                },
                {
                    "id": "text",
                    "type": "richtext",
                    "label": "Item Text"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Item image"
                },
            ]
        },
    ],
    "presets": [
        {
            "name": "Steps",
        }
    ]
    }
    {% endschema %}