{{ 'section-trips.css' | asset_url | stylesheet_tag }}

<section class="trips">
    <div class="container trips__container">
        <h2 class="trips__title">{{ section.settings.title }}</h2>

        <ul class="trips__list">
            {% for block in section.blocks %}  
                {% case block.type %}
              
                  {% when 'item' %}  
                    <li class="trips__item" {{ block.shopify_attributes }}>
                        {{ block.settings.image | image_url: width: 1500 | image_tag:
                        width: block.settings.image.width,
                        class: 'trips__item-img',
                        alt: block.settings.image.alt | escape }} 
                        <h3 class="trips__item-title">{{ block.settings.text }}</h3>
                    </li>
                {% endcase %} 
            {% endfor %}
        </ul>
    </div>
</section>


{% schema %}
    {
    "name": "Trips",
    "tag": "section",
    "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    ],
    "presets": [
    {
    "name": "Trips",
    "settings": {
      
    }
    }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "id": "text",
                    "type": "text",
                    "label": "Item Text"
                },
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Item image"
                },
            ]
        },
    ],
    }
    {% endschema %}